<!-- templates/footer.html -->
<div class="footer mt-5 bg-dark text-white p-3">
    <div class="row d-flex mt-4">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-5 mb-4">
            <h5 class="ms-1">Về Anko Watch</h5>
            <span>Trang thương mại chính thức của Anko Watch. Luôn tìm kiếm những sản phẩm tốt nhất cho người dùng</span>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3">
            <h5 class="ms-4">Thông tin liên hệ</h5>
            <ul><a href="https://www.facebook.com/gnohp277/" class="text-decoration-none text-white"><i class="bi bi-facebook me-1"></i>Phong Nghiêm</a></ul>
            <ul><a href="#" class="text-decoration-none text-white"><i class="bi bi-twitter-x me-1"></i>@3nt_p07</a></ul>
            <ul><i class="bi bi-geo-alt-fill"></i><a href="https://maps.app.goo.gl/j5r9XNT3wMSN9a3A9" target="_blank" class="text-decoration-none text-white"> Mỹ Đình, Nam Từ Liêm, Hà Nội</a></ul>
            <ul><i class="bi bi-telephone-fill me-1"></i>0359 856 002</ul>
            <ul><i class="bi bi-envelope-fill me-1"></i>ntphong277@gmail.com</ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3">
            <h5 class="ms-5">Tài khoản ngân hàng</h5>
            <ul><i class="bi bi-dot"></i><a href="payments" class="text-decoration-none text-white"> Tài khoản ngân hàng</a></ul>
            <ul><i class="bi bi-dot"></i><a href="payments" class="text-decoration-none text-white"></a> Phương thức thanh toán</a></ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <h5 class="ms-5"><a href="{{ url_for('policy') }}" class="text-decoration-none text-white">Chính sách</a></h5>
            <ul><i class="bi bi-dot"></i> <a href="{{ url_for('policy') }}#policy-warranty" class="text-decoration-none text-white">Chính sách bảo hành</a></ul>
            <ul><i class="bi bi-dot"></i> <a href="{{ url_for('policy') }}#policy-return" class="text-decoration-none text-white">Quy định đổi trả</a></ul>
            <ul><i class="bi bi-dot"></i> <a href="{{ url_for('policy') }}#policy-shipping" class="text-decoration-none text-white">Chính sách vận chuyển</a></ul>
            <ul><i class="bi bi-dot"></i> <a href="{{ url_for('policy') }}#policy-payment" class="text-decoration-none text-white">Điều khoản thanh toán</a></ul>
            <ul><i class="bi bi-dot"></i> <a href="{{ url_for('policy') }}#policy-privacy" class="text-decoration-none text-white">Chính sách bảo mật</a></ul>
        </div>        
    </div>

    <div class="row col-12 d-flex align-items-center justify-content-center mt-2">
        © 2025 - Bản quyền thuộc về Công ty TNHH Anko Watch
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

