    .navbar-collapse {
    display: none !important;
}
.navbar-collapse.show {
    display: block !important;
}

.navbar-collapse {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}
.navbar-collapse.show {
    max-height: 500px; /* Điều chỉnh theo chiều cao submenu */
}
