<div class="card-body cart">
    <div class="col-sm-12 empty-cart-cls text-center">
        <img src="https://static.vecteezy.com/system/resources/previews/005/006/007/large_2x/no-item-in-the-shopping-cart-click-to-go-shopping-now-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg" width="230" height="230" class="img-fluid mb-4 mr-3">
        <p class="text-center">Giỏ hàng của bạn đang trống!</p>
        <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Tiếp tục mua sắm</a>
    </div>
</div>