<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Chi tiết sản phẩm - Frederique Constant Classics</title>
</head>
<body>
    {% include 'base/header.html' %}

    {% block content %}

    <nav aria-label="breadcrumb " style="padding-left: 5%;">
        <ol class="breadcrumb fs-5 ">
          <li class="breadcrumb-item text-decoration-none"><a href="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="#">Đồng hồ</a></li>
          <li class="breadcrumb-item"><a href="#">Đồng hồ nam</a></li>
          <li class="breadcrumb-item active" style="color: #38383D" aria-current="page">Frederique Constant Classics</li>
        </ol>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
            <img src="https://res.cloudinary.com/dsbfsc7ii/image/upload/v1739441422/xikpgznewbvnjd0syoyz.png" class="img-fluid" alt="Product Image">
            </div>
            <div class="col-md-6">
            <h2>Frederique Constant Classics</h2>
            <p class="text-muted">Product ID: {{ product_id }}</p>
            <div class="mb-3">
                <span class="rating-star">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                </span>
            </div>
            <h3 class="text-primary">25000$</h3>
            <div class="dropdown my-3">
                <span style="font-size: 17px; margin-right: 5px;">Size</span>
                <button class="btn btn-secondary dropdown-toggle me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  M
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton1', 'M')">M</a></li>
                  <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton1', 'S')">S</a></li>
                  <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton1', 'L')">L</a></li>
                  <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton1', 'XL')">XL</a></li>
                  <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton1', 'XXL')">XXL</a></li>
                </ul>
                <span style="font-size: 17px; margin-right: 5px;">Color</span>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Red
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton2', 'Red')">Red</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton2', 'Grey')">Grey</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton2', 'Black')">Black</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdown('dropdownMenuButton2', 'White')">White</a></li>
                  </ul>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget ultricies aliquam,
                nunc nisl aliquet nunc, quis aliquam nisl nunc eu nisl.</p>
            
            <div class="gap-2 mt-4">
                <button class="btn btn-primary me-3"><i class="bi bi-cart-plus"></i> Add to Cart</button>
                <button class="btn btn-warning"><i class="bi bi-heart-fill text-danger"></i> Add to Wishlist</button>
            </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h4>Mô tả sản phẩm</h4>
        <p>Frederique Constant Classics là một chiếc đồng hồ sang trọng với thiết kế tinh tế và chất lượng cao. Được chế tác từ những vật liệu tốt nhất, chiếc đồng hồ này không chỉ là một phụ kiện thời trang mà còn là một biểu tượng của sự đẳng cấp và phong cách. Với bộ máy chính xác và bền bỉ, Frederique Constant Classics sẽ là người bạn đồng hành đáng tin cậy trong mọi dịp.</p>
        <p>Chiếc đồng hồ này có mặt kính sapphire chống trầy xước, vỏ thép không gỉ và dây đeo da cao cấp, mang lại cảm giác thoải mái và chắc chắn khi đeo. Frederique Constant Classics còn được trang bị khả năng chống nước lên đến 50 mét, giúp bạn yên tâm sử dụng trong các hoạt động hàng ngày mà không lo hư hỏng.</p>
        <p>Với thiết kế cổ điển nhưng không kém phần hiện đại, Frederique Constant Classics phù hợp với mọi phong cách thời trang, từ trang phục công sở lịch lãm đến trang phục dạo phố năng động. Đây chắc chắn là một sự lựa chọn hoàn hảo cho những ai yêu thích sự tinh tế và đẳng cấp.</p>
    </div>

    <div class="container mt-5">
        <h4>Sản phẩm mới xem gần đây</h4>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="https://res.cloudinary.com/dsbfsc7ii/image/upload/v1739441422/xikpgznewbvnjd0syoyz.png" class="card-img-top my-3" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Product 1</h5>
                        <p class="card-text">Short description of product 1.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="https://res.cloudinary.com/dsbfsc7ii/image/upload/v1739430998/Frederique_Constant_Classics_vnjbwh.png" class="card-img-top my-3" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Product 2</h5>
                        <p class="card-text">Short description of product 2.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="https://res.cloudinary.com/dsbfsc7ii/image/upload/v1739430998/Frederique_Constant_Classics_vnjbwh.png" class="card-img-top my-3" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Product 3</h5>
                        <p class="card-text">Short description of product 3.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="https://res.cloudinary.com/dsbfsc7ii/image/upload/v1739441422/xikpgznewbvnjd0syoyz.png" class="card-img-top my-3" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Product 4</h5>
                        <p class="card-text">Short description of product 4.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    {% endblock %}


    {% include 'base/footer.html' %}

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGzFJHSK6eI5p/Zd2LL+P1ylkN2xB5G5m5da5e5f5e5f5" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>